.about {
  position: relative;
  display: flex;
  padding: var(--section-padding) var(--page-gutter);
  background: var(--color-background);
  flex-direction: column;
  gap: clamp(2.5rem, 5vw, 5rem);
  scroll-snap-align: start;
}

@media (max-width: 47.99rem) {
  .about {
    padding: 4rem 1rem;
    gap: 3rem;
  }
}
